<div class="main-container" [ngStyle]="{'height': mainHeight + 'px'}">
  <div nz-row class="banner-wrapper">
    <div nz-col [nzSm]="{ span: 24 }" [nzMd]="{ span: 12 }">
      <div class="banner-slogan">
        <h1>@ang-kit</h1>
        <p>angular开发套件</p>
        <div class="button-wrapper">
          <a routerLink="/ang-kit/auth/token-service">
            <button nz-button [nzType]="'primary'" [nzSize]="'large'">开始使用</button>
          </a>
        </div>
      </div>
    </div>

    <div nz-col [nzSm]="{ span: 24 }" [nzMd]="{ span: 12 }">

    </div>
  </div>
</div>


